.loader {
  width: 80px;
  /* position: fixed;
  top: 50%;
  left: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
}
.loader div {
  opacity: 1;
  animation: loader 1s linear infinite;
}
/* cubic-bezier(0.42, 0.0, 1.0, 1.0) */
.loader div img {
  width: 100%;
}

@keyframes loader {

  0% {
    opacity: 0.50;
  }
  25% {
    opacity: 0.50;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.50;
  }
  100% {
    opacity: 0.50;
  }

}