<div>
    <div class="menu-pane-header flex-container justify-between align-center">
        <img src="../../assets/img/logo-tipo.svg" alt="">
        <label for="offcanvas-toggle" class="close bold icon icon-color"></label>
    </div>

    <ul class="flex-container flex-column justify-center">
        <li class="flex-container"><a routerLink="" class="bold icon-color" routerLinkActive="active">Home</a>
        </li>
        <li class="flex-container"><a href="src/html/contatti.html" class="bold icon-color">Serie
                TV</a></li>
        <li class="flex-container"><a href="src/html/LoginForm.html" class="bold icon-color">Film</a>
        </li>
        <li class="flex-container"><a href="src/html/LoginForm.html" class="bold icon-color">La
                mia
                lista</a>
        </li>
        <li class="flex-container"><a href="src/html/LoginForm.html" class="bold icon-color">Contatti</a>
        </li>

        <li>

        </li>
    </ul>
</div>

<ul class="list-social flex-container justify-around">
    <li class="list-social-item"><a href="#" class="icon icon-color"></a></li>
    <li class="list-social-item"><a href="#" class="icon icon-color"></a></li>
    <li class="list-social-item"><a href="#" class="icon icon-color"></a></li>
    <li class="list-social-item"><a href="#" class="icon icon-color"></a></li>
</ul>