.slider {
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 0.3rem;

}

.item{
  display: inline-block;
  /* margin-right: 10px;
  width: 110px;
  min-width: 110px;
  height: 170px; */
}

.slideshow {
  position: relative;
  padding: 0 1rem 1rem 1rem;
  margin-right: -10px;
  color: var(--color6);
}

select {
  background-color: transparent;
  opacity: 0.8;
  margin-bottom: 0.2em;
  padding: 0.3em;
  color: var(--color5);
  border-color: transparent;
  cursor: pointer;
}

.title {
  padding: var(--size3);
  font-size: 90%;
}

.title a {
  color: var(--color6);
  display: block;
  opacity: 0.5;
  cursor: pointer;
}

.title a:hover {
  color: var(--opacity-color3);
}

select:hover {
  background-color: var(--color1);
  opacity: 0.8;
}

@media screen and (min-width: 680px) {

  .title {
    font-size: 120%;
  }
}

