<div class="slideshow" #slider>
    <div class="toolbar" *ngIf="isTrendList">
        <select name="trend" id="trends" [(ngModel)]="trend" (ngModelChange)="changeSelectedTrend()">
            <option value="day">OGGI</option>
            <option value="week">SETTIMANA</option>
        </select>
    </div>
    <div class="title flex-container justify-between" *ngIf="!isTrendList">
        <h2 class="bold">{{genre}}</h2>
        <a class="bold" routerLink="/all/{{genreId}}">Sfoglia tutti</a>
    </div>
    <div class="slider">
        <app-media-preview class="item" *ngFor="let m of results" [media]="m"></app-media-preview>
    </div>
</div>